.container-airbnb {
    display:  flex;
    width: 100%;
    padding-left: 80px;
    padding-right: 80px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1200px) {
    .container-airbnb {
        padding-left: 0px;
        padding-right: 0px;
    }
}