.swiper.img-content {
    width: 100%;
    height: 260px;
    border-radius: 20px;
}

.swiper .swiper-img {
    width: 100% !important;
    height: 260px !important;
    opacity: 1 !important;
}

.swiper.img-content .swiper-button-next {
    box-shadow: none;
}

.swiper.img-content .swiper-pagination-bullet-active {
    background-color: white;
}

.card-image {
    width: 100% !important;
    object-fit: cover !important;
    object-position: left center !important;
    height: 260px !important;
}