.nav-topo {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: white;
    border-bottom: 1px solid #ececec;
}

.logo {
    max-width: 105px;
}

.link-especial {
    text-decoration: none;
    color: #161616;
    font-weight: 500;
    font-size: 15px;
    padding: 8px;
}

.link-especial:hover {
    background-color: #eeeeee;
    border-radius: 20px;
}

.icon-nav {
    width: 45px;
    color: #161616;
    text-decoration: none;
    text-align: center;
    padding: 6px;
}

.icon-nav:hover {
    background-color: #eeeeee;
    border-radius: 50%;
}

.mdi-web {
    font-size: 20px;
    font-weight: 500;
}

.button-login {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: gray;
    border: 1px solid gray;
    width: 80px;
    border-radius: 30px;
}

nav#mobile {
    height: 70px;
}

.nav-icon {
    color: #ccc;
    text-decoration: none;
    border-top: 1px solid #ccc;
    width: 100%;
}

.nav-icon:focus {
    color: #858585;
}

.nav-icon.active {
    color: #ff5a5f;
    border-top: 3px solid #ff5a5f;
}
